<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaModelo.Properties.Settings.cn" connectionString="Data Source=XONE\SQLEXPRESS;Initial Catalog=dbventas;User ID=jbustos;Password=Abcd1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>